/emacs/.config/emacs/*
!/emacs/.config/emacs/init.el
!/emacs/.config/emacs/early-init.el
!/emacs/.config/emacs/config.org
!/emacs/.config/emacs/init-org.org
/nvim/.config/nvim/plugin
/*/.DS_Store
.DS_Store
