/emacs/.config/emacs/*
!/emacs/.config/emacs/init.el
!/emacs/.config/emacs/init-org.org
!/emacs/.config/emacs/early-init.el
!/emacs/.config/emacs/dashboard_banner.png
/nvim/.config/nvim/*
!/nvim/.config/nvim/init.vim
!/nvim/.config/nvim/coc-settings.json
/*/.DS_Store
.DS_Store
